* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* the visible body of the webpage */
body {
    background-color: #d9dcd6;
}

/* the header of the webpage */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* h1 */

    header h1 {
        display: inline-block;
        font-size: 48px;
    }

        header h1 .seo {
            color: #d9dcd6;
        }

/* nav */

    header nav {
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
        /* navigation list */
        header nav ul {
            list-style-type: none;
        }
        /* nav list items */
        header nav ul li {
            display: inline-block;
            margin-left: 25px;
        }

/* affects all links */

a {
    color: #ffffff;
    text-decoration: none;
}

/* affects all paragraphs */

p {
    font-size: 16px;
}

/* displays stock image */

figure img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    size: cover;
    position: relative;
}

/* positioning of the top and bottom content images */

.float-left {
    float: left;
    margin-right: 25px;
}

/* positioning of the central content image */

.float-right {
    float: right;
    margin-left: 25px;
}

/*  the main content of the webpage */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

    /* content sections */

    .content section {
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0072bb;
        color: #ffffff;
    }

    /* content images */

    .content img {
        max-height: 200px;
    }

    /* content headers */

    .content h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }

    /* the benefits portion of the webpage */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

    /* benefit sections */

    .benefits section {
        margin-bottom: 32px;
        color: #ffffff;
    }

    /* benefit headers */

    .benefits h3 {
        margin-bottom: 10px;
        text-align: center;
    }

    /* benefit images */

    .benefits img {
        display: block;
        margin: 10px auto;
        max-width: 150px;
        }

/* the footer of the webpage */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
    /* header for the footer */
    footer h2 {
        font-size: 20px;
    }
